################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/obj/Debug/RunnersWeather.csprojAssemblyReference.cache
/obj/Debug
.vs/
/RunnersWeather/Api.config
